html * {
  margin: 0;
  padding: 0;
  font-family: "Rubik", serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

#partOfSpeechOutput, #definitionOutput, .numberOfImages {
    color: yellow;
}

.yellow {
    color: yellow;
}

h3 {
    color: white;
}

body {
    background: black;
    margin-bottom: 30px;
}

.gridContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 560px;
    width: 450px;
    margin: auto;
}


.spots {
    height: 90%;
    width: 90%;
    background: black;
    margin: auto;
    color: yellow;
    font-size: 70px;
    text-align: center;
    border-radius: 10px;
    border: grey solid 5px;
}

.grey {
    background: grey !important;
}

.purple {
    background: rgb(203, 108, 230) !important;
    border: rgb(203, 108, 230) solid 5px;

}

.blue {
    background: rgb(156, 227, 254) !important;
    border: rgb(156, 227, 254) solid 5px;

}

.spots::before {
    content: "";
}

#r1c1 {
    grid-column: 1;
    grid-row: 1;
}

#r1c2 {
    grid-column: 2;
    grid-row: 1;
}

#r1c3 {
    grid-column: 3;
    grid-row: 1;
}

#r1c4 {
    grid-column: 4;
    grid-row: 1;
}

#r1c5 {
    grid-column: 5;
    grid-row: 1;
}

#r2c1 {
    grid-column: 1;
    grid-row: 2;
}

#r2c2 {
    grid-column: 2;
    grid-row: 2;
}

#r2c3 {
    grid-column: 3;
    grid-row: 2;
}

#r2c4 {
    grid-column: 4;
    grid-row: 2;
}

#r2c5 {
    grid-column: 5;
    grid-row: 2;
}

.keyboard {
    margin-top: 20px !important;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    height: 200px;
    width: 800px;
    margin: auto;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
    gap: 10px;

}

.align {
    text-align: center;
}



.margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.keyboardrow1 {
    display: flex;
    flex-direction: columns;
    grid-row: 1;
    justify-content: space-around;
}

.keyboardrow2 {
    display: flex;
    flex-direction: columns;
    grid-row: 2;
    justify-content: space-around;
}

.keyboardrow3 {
    display: flex;
    flex-direction: columns;
    grid-row: 3;
    justify-content: space-around;
}

.keys {
    height: 50px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    gap: 5px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;

}

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Edge, Safari */
}


header {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    width: 100%;
    background: #cb6ce6;
    padding: 10px;
    box-sizing: border-box;
}


.logo {
    grid-column: 1;
    width: auto;
    height: 60px;
}


.title {
    color: white;
    grid-column: 2;
}

.vocabButton {
    color: white;
    grid-column: 15;
    text-align: right;
    margin-top: 5px;
    cursor: pointer;
}

.coin {
    grid-column: 14;
    white-space: nowrap; /* Prevent child elements from wrapping to the next line */
    text-align: left;
    max-width: 100%;
}

.hintsContainer {
    white-space: nowrap;
    display: flex;
    flex-direction: rows;
    justify-content: center;
    gap: 20px;

}

.characterImage {
    width: 300px;
    height: auto;
    margin: auto;
    display: block;

}

.exit-button {
    margin-top: 10px;
    margin-left: 20px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: black;

}

.exit-button2 {
    margin-top: 10px;
    margin-left: 20px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: black;

}

.winOrLose {
    margin-top: 0px; !important;
}

#outcome {
    height: 500px;
    width: 700px;
    background: rgb(203, 108, 230);
    margin: auto;
    position: fixed;
    z-index: 5;
    display: none;
    border: black 5px solid;
    border-radius: 30px;
}

#dictionaryList {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 70%;
    background: rgb(156, 227, 254);
    margin: auto;
    position: fixed;
    z-index: 5;
    display: none;
    border: black 5px solid;
    border-radius: 30px;
    overflow: hidden;
}

.vocabContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    padding: 0 15px;
    box-sizing: border-box;
    scrollbar-width: none;
}


.vocabCard {
    height: auto;
    width: 90%;
    background: white;
    border-radius: 50px;
    padding: 20px;
}

.vocabCard:last-child {
    margin-bottom: 70px !important;
}

.bold {
    font-weight: 600;
}

.coinContainer {
    border-right: solid white 2px;
    width: 100%;
}

.coinContainer * {
    display: inline-block;
    vertical-align: top;
}

.coin h1 {
    color: white;
}

.margin-left {
    margin-left: 30px;
}

.coin img {
    height: 40px;
    width: 40px;
}

#imageOutput {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    gap: 10px;
    justify-content: space-around;
}


.imageContainer {
    object-fit: cover;
    width: 400px;
    height: 300px;
    border-radius: 50px;

}

.noWords {
    margin-top: 100px;
    display: none;

}

#nextWord2 {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 3;
    padding: 10px;
    border-radius: 20px;
    background: rgb(203, 108, 230);
    color: white;
    border: none;
    cursor: pointer;
    display: none;

}

#imageButton, #definitionButton {
    padding: 10px;
    border-radius: 20px;
    background: rgb(156, 227, 254);
    color: black;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

#addToDict, #nextWord {
    padding: 10px;
    border-radius: 20px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    border: black solid 2px;
    font-weight: 600;
}

@media (max-width: 700px) {
    .keyboard {
        margin-top: 20px !important;
        padding-top: 15px;
        padding-bottom: 15px;
        grid-template-rows: repeat(3, 1fr);
        display: grid;
        height: 200px;
        width: 100vw;
        margin: auto;
        border-top: solid white 2px;
        border-bottom: solid white 2px;
        gap: 10px;
        background: red;
    }
    .keys {
        height: 35px;
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 0px;
        background: white;
        gap: 5px;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        border-radius: 5px;

    }
    .title {
        display: none;
    }

    .gridContainer {
        height: 460px;
        width: 350px;
    }

}